.Gene-Image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.Gene-Dropdown-Image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.Gene-Button {
}

.Plant-Card {
  position: absolute;
  outline: none;
  margin-left: 100px;
  user-select: none;
}

.Plant-Card-Header {
  font-family: "Staatliches";
  font-size: 25px;
}
