.Plant {
  width: 100px;
  height: 100px;
  outline: none;
}

.Plant-Box {
}

.Gene-Image {
  border-radius: 50%;
}

.Gene-Button {
  border: none;
  outline: none;
}

.Plant-Card {
  position: absolute;
  outline: none;
  margin-left: 100px;
  user-select: none;
}

.Plant-Card-Header {
  font-family: "Staatliches";
}
